#category-index
  .header
    %h1= "Флайбриджи до 15 метров"
    .links
      %a(href="./before")= "← до 15 метров"
      %a(href="./after")= "от 20 до 30 метров →"

    .category-sponsor
      .banner
      .title= "Спонсор раздела"

  #better-in-class
    .content
      .super-title= "Лучшие в классе"
      - 1.upto 2 do |i|
        .teaser(class="#{i==1?'first':'second'}")
          .img
            %img(src="/images/yacht-big.jpg")
          .additional
            .add-to-comparison(data-id="101")
              .icon= "+"
              %span= "добавить в сравнение"
            .title
              %a= "Sunseeker ManhaRan 64"
            .price
              %span.prefix= "от"
              %span.int= "1 500 000 £"
            .description= "На Мальте стартовала 31-я регата Rolex Middle Sea Race. Это одна из классических парусных гонок \"большого шлема\", проводится с 1968 года. RMSR еще и самая протяженная."
      .clear

  #categories

    .category.popular
      .title= "Популярные модели"
      .teasers
        - 1.upto 3 do |i|
          .teaser
            .img
              %img(src="/images/boat-small.jpg")
            .add-to-comparison(data-id="101")
              .icon(title="Добавить в сравнение")= "+"
            .title
              %a(href="./model")= "Princess 62"
            .price
              %span.prefix= "от"
              %span.int= "1 500 000 £"
        .clear

    .category.new
      .title= "Новые модели"
      .teasers
        - 1.upto 4 do |i|
          .teaser
            .img
              %img(src="/images/boat-small.jpg")
            .add-to-comparison(data-id="101")
              .icon(title="Добавить в сравнение")= "+"
            .title
              %a(href="./model")= "Princess 62"
            .price
              %span.prefix= "от"
              %span.int= "1 500 000 £"
        .clear

    .category.rest
      .title
        %span= "Все остальные модели"
        %span.second= "(256 шт.)"
      .sort-order-selector
        %span.header= "Сортировать по"
        %ul
          %li.active= "длине"
          %li= "цене"
          %li= "алфавиту"
      .teasers
        - 1.upto 10 do |i|
          .teaser
            .img
              %img(src="/images/boat-small.jpg")
            .add-to-comparison(data-id="101")
              .icon(title="Добавить в сравнение")= "+"
            .title
              %a(href="./model")= "Princess 62"
            .price
              %span.prefix= "от"
              %span.int= "42 000 £"
        .clear

  #side-banners
    .sponsor
      %p= "Catalog sponsor"
    .banner-240x400
      %p= "240 x 400"
    .banner-240-90
      %p= "240 x 90"
    .yacht-select-master
      %p= "Yacht select master"
    .facebook
      %p= "Facebook"

  #shipyards-teasers
    .header= "Верфи"
    %ul
      - 7.times do
        %li
          .img
            %img(src="/images/shipyard-logo.jpg")
          .title
            %a(href="./shipyard")= "Feadship"
          .country= "Нидерланды"